@model List<TableViewModel>
@{
    ViewData["Title"] = "Index";
}

    <style>
        #isAvaible-True {
            background-color: #39902f;
        }

            #isAvaible-True a {
                cursor: not-allowed;
            }

        #isAvaible-False {
            background-color: #be2a2a;
            color: currentColor;
            
         
        }

            #isAvaible-False a {
                cursor: pointer;
            }

        #grid {
            display: grid;
            grid-template-columns: auto auto auto;
            padding: 10px;
        }

        .card {
            padding: 5px;
            margin: 20px;
        }

            .card .card-header, .card-body {
                background-color: #ffffff;
            }

        .cardText {
            text-align: center;
        }
        #RequestList {
            max-height: 600px;
            overflow-y: scroll;
        }
    </style>
<div class="container row" id="temp">
    <div class="col-md-8">
    
    <div class="container" id="grid">
        @foreach (var item in Model)
        {
            <div class="card" id="isAvaible-@item.IsAvailable">
                <div class="card-header">
                    <h5 class="cardText">
                        @item.TableName
                    </h5>
                </div>

                <div class="card-body">
                    @if (item.IsAvailable)
                    {<p class="cardText">Müsait</p> }
                    else
                    {<p class=" cardText">Dolu</p>
                    }
                </div>
                <div class="card-footer" id="@item.TableId"><div style="text-align:center"><a class="btn btn-light">Masa Detayı</a></div></div>
            </div>
        }
    </div>
    </div>
    <div style="margin-top:40px" class="col-md-4">
        <div  id="RequestList">

        </div>
    </div>
    
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/Istek.js"></script>
@*<script type="text/javascript">
    $(document).ready(function () {
        $(document).on('click', '#AcceptButton', function () {
            connection.invoke("SendActivationLink", "deneme");
            $(this).parent().remove();
        });

        $(document).on('click', '#DeclineButton', function () {

            $(this).parent().remove();
        });
    });

</script>*@