@model NewTableViewModel
@{
    ViewData["Title"] = "NewTable";
}
<style>
    body {
        background-image: url('/image/cafebackground.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;        
    }
    .field-validation-error {
        
        padding: 3px;
        background-color: #b90000;
        color: white;
        border-radius: 5px;
    }
    .form {
        background-color: rgba(0, 0, 0, 0.9);
        border-radius: 25px 25px 20px 25px;
        padding: 10px 10px 10px 0px;
    }
    .form p{
        color:rgb(255, 255, 255);
    }
    .form input {
        background-color: rgba(0, 0, 0, 0.50);
        border-color:rgb(255, 255, 255);
    }
    .form input[type=text] {
        background-color: rgba(0, 0, 0, 0.50);
        border-color: rgb(255, 255, 255);
        color:rgb(255, 255, 255);
    }

        .form input[type=text]:focus {
            background-color: rgba(0, 0, 0, 0.50);
            box-shadow: 3px 7px rgba(255, 255, 255, 0.2);
            transition: 0.3s;
            color: aliceblue;
        }
    .form input[type=submit]:hover {
        background-color: rgba(2, 147, 0, 0.85);
        border-color:rgb(255, 255, 255);
    }
   
</style>
<div class="form">


    @using (Html.BeginForm(FormMethod.Post))
    {
    <div class="container row">
        <div class="col-md-3"></div>
        <div class=" col-md-6">
            <div class="row">
                <p class="col-md-4" style="margin-top:6px; vertical-align:central; text-align:center"><strong>Masa Adı :</strong></p>
                @Html.TextBoxFor(x => x.TableName, null, new { @class = "col-md-6 form-control" })
            </div>
            <div style="text-align:center">

                @Html.ValidationMessageFor(x => x.TableName)
            </div>
        </div>
        
        <div class="col-md-3"></div>

    </div>
        <div style="text-align:center; margin-top:20px;">
            <input class="btn btn-dark" type="submit" value="Kaydet" />
        </div>
    }
</div>
