@model List<TableViewModel>

    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
@{
    ViewData["Title"] = "Tables";
}
<style>
    .card-footer a,h5,#newTable {        
        font-family: 'Courgette', cursive;    
    }
    #grid {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 10px;
    }

    .card {
        background-color: #c7c2c2;
        padding: 5px;
        margin: 20px;
    }

        .card .card-header, .card-body {
            background-color: #ffffff;
        }

    .cardText {
        text-align: center;
    }
</style>

<div class="">
    <a id="newTable" class="btn btn-outline-primary float-right" asp-action="NewTable" asp-controller="Restaurant">Yeni Masa</a>
    
</div>
<div class="container " id="grid">
    @foreach (var item in Model)
    {@Html.HiddenFor(x => item.TableId)
    <div class="card" id="isAvaible-@item.IsAvailable">
        <div class="card-header">
            <h5 class="cardText">
                @item.TableName
            </h5>
        </div>

        <div class="card-footer" id="@item.TableId">
            <div style="text-align:center">
                <a class=" btn btn-secondary" asp-action="EditTable" asp-controller="Restaurant" asp-route-id="@item.TableId">Düzenle</a>
            </div>
        </div>
    </div>
}
</div>

<script>
    $(document).ready(function () {

        $("#grid").load("/Restaurant/TablesInside")
        $("#reload").click(function () {
            $("#grid").load("/Restaurant/TablesInside")
        });
    })
</script>