<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
<style>
    body {
        background-image: url('/image/cafebackground.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        
    }
    .cardBackground {
        background-color: rgba(0, 0, 0, 0.7);
        padding: 20px 0 20px 0;
        border-radius: 10px 10px 10px 10px;
        border-style: solid;
        border-color: rgb(0, 0, 0);
    }
    .grid {
        display: grid;
        grid-template-columns: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .person {
        display: grid;
        grid-template-columns: 30% 70%;
        margin-bottom: 20px;
        box-shadow: 0 5px 10px 0 rgba(255, 255, 255, 0.21);
        transition: 0.3s;
        background-color: #151414;
        border-style: solid;
        
        border-radius: 10px 10px 10px 10px;
        border-color: #000000;
    }


        .person:hover {
            box-shadow: 0 10px 20px 0 rgba(255, 255, 255, 0.41);
        }

    img {
        border-radius: 10px 0 0 10px;
    }

    h5 {
        @* font-family: 'Courgette', cursive;*@
        padding-top: 10px;
        color: #ffffff;
        font-family: 'Oswald', sans-serif;
    }

    p {
        color: #ffffff;
        font-family: 'Oswald', sans-serif;
    }
</style>

<div class="container">
    <div class="row cardBackground">
        <div class="col-md-2"> </div>
        <div class="col-md-8">
            <div class="grid">
                <div class="person row">
                    <img src="http://350cr.blogs.brynmawr.edu/files/2013/05/anonymous.jpg" style="width: 200px; height: 200px; object-fit: cover" alt="Avatar">
                    <div>
                        <h5><b>Mustafa Albayrak</b></h5>
                        <p>
                            2019 yılında Erciyes Üniversitesi, Bilgisayar Mühendisliği bölümünden mezun oldu. Unity ile 2 adet oyun yayınladı. 2020 Nisan'da Kodluyoruz.org Bootcampine katıldı.
                            https://www.linkedin.com/in/mustafaalby/
                        </p>
                    </div>
                </div>
                <div class="person row">
                    <img src="http://350cr.blogs.brynmawr.edu/files/2013/05/anonymous.jpg" style="width:200px" alt="Avatar">
                    <div>
                        <h5><b>Mustafa Akçakaya</b></h5>
                        <p>Yaklaşık 9 senelik amatör yazılım geliştirme geçmişinden sonra 2019'da BilgeAdam Akademi'ye seçildi. Farklı kişilerle bir çok takım projesi geliştirdi. Ardından Kodluyoruzorg Bootcamp'ine katıldı. https://www.linkedin.com/in/mustafaakcakaya/</p>
                    </div>
                </div>
                <div class="person row">
                    <img src="http://350cr.blogs.brynmawr.edu/files/2013/05/anonymous.jpg" style="width:200px" alt="Avatar">
                    <div>
                        <h5><b>Ümitcan Sevinç</b></h5>
                        <p>
                            2018 yılında Marmara Üniversitesi, İşletme Enformatiği bölümünden mezun oldu. Çoğu açık kaynaklı ve oyun olan çeşitli uygulamalar geliştirdi. 2020 Nisan'da Kodluyoruz.org Bootcampine katıldı.
                            https://www.linkedin.com/in/usevinc
                        </p>
                    </div>
                </div>
                <div class="person row">
                    <img src="http://350cr.blogs.brynmawr.edu/files/2013/05/anonymous.jpg" style="width:200px;object-fit:cover;  height:200px" alt="Avatar" />

                    <div>
                        <h5><b>Mina Yenilmez</b></h5>
                        <p>
                            2015 yılında Sakarya Üniversitesi, Bilgisayar Mühendisliği bölümünden menuz oldu.2020 Nisan'da Kodluyoruz.org Bootcampine katıldı.
                            https://www.linkedin.com/in/mina-yenilmez-a45021199
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>