@{
    ViewData["Title"] = "Home Page";


}

<link href="~/css/Home/Index/parallax.css" rel="stylesheet" />



@*<div class="bgimg-1">
    <div class="caption mt-3" style="height:150px">
        <a class="image-buttons" asp-controller="Home" asp-action="Tables"><span class="border">ANINDA SİPARİŞ!</span></a>
            </div>
        </div>  *@


<div id="first-text">
    <h1 class="pt-3 text-center" style="letter-spacing: 3px;">MASADAN SİPARİŞ</h1>
    <h3 class="pt-3">"-Pardon, Bi' Bakar mısınız?!"</h3>
    <p style="letter-spacing: 2px;">
        Bu uygulama sayesinde artık garson beklemeye son! Aynı zamanda Koronavirus sürecinde hijyeni de sağlayarak kişisel cihazlarınız ile dokunmadan menüyü görebileceksiniz. Siparişlerinizi oturduğunuz yerden tek tıkla yönetebileceksiniz. Siparişlerinizin durumunu güncel olarak görebileceksiniz. Bütün işlemler artık size özel, size güzel! Denemek çok basit! Hemen
        <a asp-controller="Home" asp-action="Tables">Masanızı Belirleyin.</a>
    </p>
</div>

<div class="bgimg-2">
    <div class="caption">
        <a class="image-buttons" asp-controller="Home" asp-action="Tables"><span class="border">MASALARI GÖR</span></a>
    </div>
</div>

<div style="position:relative;">
    <div class="text-in-between">
        <p>Masa doluluk durumlarını görüntüleyerek kendinize uygun boş bir masa için istek gönderebilirsiniz.</p>
    </div>
</div>

<div class="bgimg-3">
    <div class="caption">
        <a class="image-buttons" asp-controller="Restaurant" asp-action="Index">
            <span class="border">
                RESTORAN GİRİŞİ
            </span>
        </a>
    </div>
</div>

<div style="position:relative;">
    <div class="text-in-between">
        <p>Üst kısımda gördüğününüz şekilde restoran girişinizi gerçekleştirebilirsiniz.</p>
    </div>
</div>

<div class="bgimg-1">
    <div class="caption">
       
    </div>
</div>


