
﻿@{
    ViewData["Title"] = "Home Page";
}

    <link href="~/css/Home/Index/parallax.css" rel="stylesheet" />
    
        <div class="bgimg-1">
            <div class="caption mt-3">
                <a class="image-buttons" asp-controller="Home" asp-action="Tables"><span class="border">ANINDA SİPARİŞ!</span></a>
            </div>
        </div>
         
        <div id="first-text">
            <h3 class="pt-5">"-Pardon, Bi' Bakar mısınız?!"</h3>
            <p style="letter-spacing: 2px;">
                Bu uygulama sayesinde artık garson beklemeye son! Aynı zamanda Koronavirus sürecinde hijyeni de sağlayarak kişisel cihazlarınız ile dokunmadan menüyü görebileceksiniz. Siparişlerinizi oturduğunuz yerden tek tıkla yönetebileceksiniz. Siparişlerinizin durumunu güncel olarak görebileceksiniz. Bütün işlemler artık size özel, size güzel! Denemek çok basit! Hemen
                <a asp-controller="Home" asp-action="Tables">Sipariş ver</a>in.
            </p> 
        </div>

      @*  <div class="bgimg-2">
            <div class="caption">
                <a class="image-buttons" asp-controller="Restaurant" asp-action="Tables"><span class="border">MASA DURUMLARI</span></a>
            </div>
        </div>
          
        <div style="position:relative;">
            <div class="text-in-between">
                <p>Masa doluluk durumlarını görüntüleyerek kendinize uygun boş bir masa için istek gönderebilirsiniz.</p>
            </div>
        </div>

        <div class="bgimg-3">
            <div class="caption">
                <a class="image-buttons" asp-controller="Menu" asp-action="Index"><span class="border">MENULER</span></a>
            </div>
        </div>
*@
      <div style="position:relative;">
            <div class="text-in-between">
                <p>Müşteri değil restoran iseniz giriş yapınız.</p>
            </div>
        </div>

        <div class="bgimg-1">
            <div class="caption">
                <a class="image-buttons" asp-controller="Restaurant" asp-action="LoginRestaurant">
                <span class="border">
                    Restoran Girişi!
                    </span>
                </a>
            </div>
        </div>


