@model List<MenuViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Restaurant Menu</h1>

<div class="container">
    <div class="row">
        <div class="col-md-2"><strong>Yiyecek</strong></div>
        <div class="col-md-3"><strong>Fiyat</strong></div>
        <div class="col-md-3"><strong>Aciklama</strong></div>
    </div>

    @foreach (var menu in Model)
    {
        <div class="row">
            <div class="col-md-2"><p>@menu.ProductName</p></div>
            <div class="col-md-3"><p>@menu.Price</p></div>
            <div class="col-md-3"><p>@menu.Description</p></div>
        </div>
    }
</div>