
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<textarea id="messageInput"></textarea>
<button id="sendButton">bas</button>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/Istek.js"></script>
